.district{display: none;}
	p.alert {display: inline-block;padding: 5px;font-size: 25px;}
	h1{padding-top: 11px;}
  strong {width: 100%;display: inline-block;}
  .covid-center{padding: 10px; border: 1px solid rgba(0,0,0,.1)}